@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root{
    --main-font-family: 'Nunito', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--main-font-family);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container__game{
    width: 60rem;
    background: green;
    display: flex;
    margin: 3.5rem 0;
}

.player{
    width: 50%;
    padding-top: 6rem;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player__title{
    margin-bottom: 2rem;
}

.player > p{
    font-size: 50px;
}

.player1{
    background: blue;
}

.player2{
    background: blueviolet;
}

.container__game-player--points{
    margin: 5rem 0;
    background: yellow;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.container__game-player--points p{
    font-size: 25px;
    font-weight: 500;
}
