@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root{
    --main-font-family: 'Nunito', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
}
body{
    font-family: var(--main-font-family);
    color: #333;
    background-color: rosybrown;
    /* background-image: linear-gradient(to top left, #7536B2 0%, #bf2e34 100% ); */
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container__game{
    width: 60rem;
    display: flex;
    position: relative;
    margin: 3.9rem 0;
}

.dice >img{
    width: 70px;
}

.container__game-buttons button,
.container__game-buttons .dice{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}

.container__game-buttons button:nth-child(1){
    bottom: 80%;
}

.container__game-buttons div.dice{
    bottom: 65%;
}

.container__game-buttons button:nth-child(3){
    bottom: 50%;
}

.container__game-buttons button:nth-child(4){
    bottom: 40%;
}

.container__game-buttons button{
    color: #444;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.7rem 2.5rem;
}

.container__game-buttons button::focus {
    outline: none;
}

.player{
    width: 50%;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.player__title{
    margin-bottom: 2rem;
}

.player > p{
    font-size: 50px;
}

.player1{
    background: blueviolet;
}

.player2{
    background: blueviolet;
}

.container__game-player--points{
    margin: 5rem 0;
    background: #c7365f;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.container__game-player--points p{
    font-size: 25px;
    font-weight: 500;
}

.player--active{
    background-color: rgba(255, 255, 255, 0.4);
}